.search{
    width: 15rem;
    @include wide-pc{
        width: 150px;
    }
    &_size_l{
        width: 20rem;
        @include wide-pc{
            width: 200px;
        }
    }
    &__box{
        height: 3rem;
        background-color: $color-button-bg;
        border-radius: 8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 0 1.5rem;
        @include wide-pc {
            height: 30px;
            border-radius: 80px;
            padding: 0 15px;
        }
    }
    &__input{
        @include font-style(1.3rem, $color-head-gray, 700);
        display: inline-block;
        line-height: 1;
        width: 100%;
        @include wide-pc {
            font-size: 13px;
        }
    }
    &__submit{
        &-button{
            background-image: url('../images/search.svg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: block;
            width: 1.3rem;
            height: 1.3rem;
            @include wide-pc {
                width: 13px;
                height: 13px;
            }
        }
    }
}