.search{
    &__box{
        height: 3rem;
        background-color: $color-button-bg;
        border-radius: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0 1.5rem;
        @include wide-pc {
            height: 30px;
            border-radius: 80px;
            padding: 0 15px;
        }
    }
    &__input{
        @include font-style(1.3rem, $color-head-gray, 700);
        display: inline-block;
        line-height: 1;
        max-width: 100%;
        @include wide-pc {
            font-size: 13px;
        }
    }
    &__submit{
        i{
            @include font-style(1.3rem, $color-head-gray, 700);
            line-height: 1;
            @include wide-pc{
                font-size: 13px;
            }
        }
    }
}