.toggle-menu{
    width: 100%;
    height: 8rem;
    background: linear-gradient(to bottom, rgba(21, 21, 21, 1.0), rgba(21, 21, 21, 0.4));
    position: absolute;
    top: 100%;
    @include wide-pc{
        height: 80px;
    }
    &__inner{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item{
        margin-right: 6rem;
        @include wide-pc{
            margin-right: 60px;
        }
        @include tab{
            margin-right: 2.4rem;
        }
    }
    &__link{
        @include font-style(1.5rem, $color-white, 700);
        display: flex;
        align-items: center;
        @include wide-pc{
            font-size: 15px;
        }
        @include tab{
            font-size: 1.2rem;
        }
        i{
            @include font-style(2rem, $color-white, 700);
            display: inline-block;
            margin-right: 1rem;
            @include wide-pc{
                font-size: 20px;
                margin-right: 10px;
            }
            @include tab{
                font-size: 1.6rem;
                margin-right: 0.8rem;
            }
        }
    }
}