.sort{
    width: 10.5rem;
    padding: 0 1rem;
    height: 2rem;
    background-color: $color-black;
    color: $color-white;
    font-size: 1.2rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 1rem;
    cursor: pointer;
    @include wide-pc{
        width: 105px;
        padding: 0 10px;
        height: 20px;
        font-size: 12px;
        border-radius:10px;
    }
    i{
        font-size: 1.2rem;
        margin-left: 0.6rem;
        transition: transform 0.3s ease;
        &.sort-reverse{
            transition: transform 0.3s ease;
            transform: rotateX(180deg);
        }
        @include wide-pc{
            font-size: 12px;
            margin-left: 6px;
        }
    }
}