@import 'common/_font&color';
@import 'common/_responsive';
@import 'common/destyle';
@import 'common/_animation';

//-------------------------------
//  All-page-common-css
//-------------------------------
html{
    /*
    計算式：10px /  デザインカンプの横幅 * 100
    画面サイズがデザインカンプ幅の時font-size = 10pxになる
    */
    font-size: calc(10 / 1400 * 100) + vw;
    // @include pc{
    //     font-size: calc(10 / 1200 * 100) + vw;
    // }
    @include tab{
        font-size: calc(10 / 768 * 100) + vw;
    }
    @include sp{
        font-size: calc(10 / 375 * 100) + vw;
    }
}
body{
    font-size: 1.6rem;
    font-family: $font;
    overflow-x: hidden;
    position: relative;
    line-height: 1;
    font-weight: 700;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    // vertical-align: middle;
}
.wrapper{
    overflow-x: hidden;
}
.container{
    width: 960px;
    margin: 0 auto;
    @include pc-tab{
        width: 84vw;
    }
    @include tab{
        width: 84vw;
    }
}
.margin-right-cancell{
    margin-right: 0!important;
}
.margin-left-cancell{
    margin-left: 0!important;
}
.margin-top-cancell{
    margin-top: 0!important;
}
.margin-bottom-cancell{
    margin-bottom: 0!important;
}

//-------------------------------
//  header
//-------------------------------
@import 'header/_header.scss';

//-------------------------------
//  main-visual
//-------------------------------
.main-visual{
    width: 100%;
    position: relative;
}
// Swiperの上書き用CSS
.swiper-wrapper{
    width: 100%;
}
.swiper-slide{
    width: 100%;
    height: 78rem;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &:before{
        content: '';
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
    }
    @include wide-pc{
        height: 780px;
    }
    @include tab{
        height: 56rem;
    }
    // iframe{
    //     height: 40rem;
    // }
}
.swiper-button-next{
    right: 5rem;
    @include wide-pc{
        right: 50px;
    }
    @include tab{
        right: 1.6rem;
    }
    &:after{
        content: '\f054';
        display: block;
        font-size: 5rem;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: $color-white;
        opacity: 0.4;
        @include wide-pc{
            font-size: 50px;
        }
        @include tab{
            font-size: 3.2rem;
        }
    }
}
.swiper-button-prev{
    left: 5rem;
    @include wide-pc{
        right: 50px;
    }
    @include tab{
        left: 1.6rem;
    }
    &:after{
        content: '\f053';
        display: block;
        font-size: 5rem;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: $color-white;
        opacity: 0.4;
        @include wide-pc{
            font-size: 50px;
        }
        @include tab{
            font-size: 3.2rem;
        }
    }
}
.swiper-pagination-bullet{
    background: $color-black;
}
.swiper-pagination-bullet-active{
    background: $color-white;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 1.1rem;
    @include wide-pc{
        margin: 0 11px;
    }
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 3rem;
    @include wide-pc{
        bottom: 30px;
    }
    @include tab{
        bottom: 1.6rem;
    }
}

//-------------------------------
//  student-media
//-------------------------------
@import 'media/_student-media.scss';

//-------------------------------
//  news
//-------------------------------
@import '_news.scss';