@import 'common/_font&color';
@import 'common/_responsive';
@import 'common/destyle';
@import 'common/_animation';

//-------------------------------
//  All-page-common-css
//-------------------------------
html{
    /*
    計算式：10px /  デザインカンプの横幅 * 100
    画面サイズがデザインカンプ幅の時font-size = 10pxになる
    */
    font-size: calc(10 / 1400 * 100) + vw;
    // @include pc{
    //     font-size: calc(10 / 1200 * 100) + vw;
    // }
    @include tab{
        font-size: calc(10 / 768 * 100) + vw;
    }
    @include sp{
        font-size: calc(10 / 375 * 100) + vw;
    }
}
body{
    font-size: 1.6rem;
    font-family: $font;
    overflow-x: hidden;
    position: relative;
    line-height: 1;
    font-weight: 700;
    background-color: $color-bg1;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    // vertical-align: middle;
}
.wrapper{
    overflow-x: hidden;
}
.container{
    width: 960px;
    margin: 0 auto;
    @include pc-tab{
        width: 84vw;
    }
    @include tab{
        width: 84vw;
    }
}
.margin-right-cancell{
    margin-right: 0!important;
}
.margin-left-cancell{
    margin-left: 0!important;
}
.margin-top-cancell{
    margin-top: 0!important;
}
.margin-bottom-cancell{
    margin-bottom: 0!important;
}

//-------------------------------
//  header
//-------------------------------
@import 'header/_header.scss';

//-------------------------------
//  main-visual
//-------------------------------
.main-visual{
    width: 100%;
    position: relative;
}
// Swiperの上書き用CSS
.main-visual__swiper-wrapper{
    width: 100%;
}
.main-visual__swiper-slide{
    width: 100%;
    height: 78rem;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &:before{
        content: '';
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
    }
    @include wide-pc{
        height: 780px;
    }
    @include tab{
        height: 56rem;
    }
    // iframe{
    //     height: 40rem;
    // }
}
.swiper-button-next{
    outline: none;
    &.next01{
        right: 5rem;
        @include wide-pc{
            right: 50px;
        }
        @include tab{
            right: 1.6rem;
        }
        &:after{
            content: '\f054';
            display: block;
            font-size: 5rem;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: $color-white;
            opacity: 0.4;
            @include wide-pc{
                font-size: 50px;
            }
            @include tab{
                font-size: 3.2rem;
            }
        }
    }
    &.next-common{
        right: -6.4rem;
        @include wide-pc{
            right: -64px;
        }
        @include tab{
            right: -3rem;
        }
        &:after{
            content: '\f054';
            display: block;
            font-size: 3rem;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: $color-white;
            opacity: 0.4;
            @include wide-pc{
                font-size: 30px;
            }
            @include tab{
                font-size: 2.4rem;
            }
        }
    }


}
.swiper-button-prev{
    outline: none;
    &.prev01{
        left: 5rem;
        @include wide-pc{
            right: 50px;
        }
        @include tab{
            left: 1.6rem;
        }
        &:after{
            content: '\f053';
            display: block;
            font-size: 5rem;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: $color-white;
            opacity: 0.4;
            @include wide-pc{
                font-size: 50px;
            }
            @include tab{
                font-size: 3.2rem;
            }
        }
    }
    &.prev-common{
        left: -6.4rem;
        @include wide-pc{
            left: -64px;
        }
        @include tab{
            left: -3rem;
        }
        &:after{
            content: '\f053';
            display: block;
            font-size: 3rem;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: $color-white;
            opacity: 0.4;
            @include wide-pc{
                font-size: 30px;
            }
            @include tab{
                font-size: 2.4rem;
            }
        }
    }
}
.swiper-pagination-bullet{
    background: $color-black;
}
.swiper-pagination-bullet-active{
    background: $color-white;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 1.1rem;
    @include wide-pc{
        margin: 0 11px;
    }
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 3rem;
    @include wide-pc{
        bottom: 30px;
    }
    @include tab{
        bottom: 1.6rem;
    }
}

//-------------------------------
//  student-media
//-------------------------------
@import 'media/_student-media.scss';

//-------------------------------
//  news
//-------------------------------
@import '_news.scss';

//-------------------------------
//  student
//-------------------------------
.student{
    padding: 4.8rem  0 8.5rem 0;
    &__media{
        margin-bottom: 4rem;
    }
    &.bg-gray{
        background-color: $color-bg2;   
    }
}
.movie-contents{
    width: 100%;
    position: relative;
    &__sort{
        width: 10.5rem;
        padding: 0 1rem;
        height: 2rem;
        background-color: $color-black;
        color: $color-white;
        font-size: 1.2rem;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content:center;
        border-radius: 1rem;
        cursor: pointer;
        @include wide-pc{
            padding: 0 10px;
            height: 20px;
            font-size: 12px;
            border-radius:10px;
        }
        i{
            font-size: 1.2rem;
            margin-left: 0.6rem;
            transition: transform 0.3s ease;
            &.sort-reverse{
                transition: transform 0.3s ease;
                transform: rotateX(180deg);
            }
            @include wide-pc{
                font-size: 12px;
                margin-left: 6px;
            }
        }
    }
    &__items{
        width: 100%;
    }
    &__item{
        width: 22rem;
        @include wide-pc{
            width: 220px;
        }
        @include tab{
            width: calc((100% - 2.6rem)/2);
        }
        @include sp{
            width: 100%;
        }
    }
    &__thumbnail{
        width: 100%;
        height: 12.4rem;
        margin-bottom: 0.9rem;
        display: block;
        @include wide-pc{
            height: 124px;
            margin-bottom: 9px;
        }
        @include tab{
            height: auto;
        }
    }
    &__meta{
        margin-bottom: 0.9rem;
        @include wide-pc{
            margin-bottom: 9px;
        }
    }
    &__post-time{
        margin-right: 0.5rem;
        @include wide-pc{
            margin-right: 5px;
        }
    }
    &__title{
        @include font-style(1.5rem, $color-white, 700);
        line-height: 1;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        margin-bottom: 0.6rem;
    }
    &__tag{
        color: $color-white;
        i{
            font-size: 1.2rem;
            margin-right: 0.2rem;
        }
    }
    &__tag-link{
        @include font-style(1.2rem, $color-white, 700);
    }
}

.ly-sort-top{
    margin-bottom: 1rem;
}
.ly-movie-top{
    margin-right: 2.6rem;
}
//-------------------------------
//  meta
//-------------------------------
.meta{
    display: flex;
    align-items: center;
}
.meta-info{
    background-color: $color-button-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-head-gray;
    padding: 0 0.8em;
    height: 2rem;
    font-size: 1.2rem;
    line-height: 1;
    &.watched{
        color: $color-watched;
    }
    @include wide-pc{
        height: 20px;
        font-size: 12px;
    }
    i{
        margin-right: 0.5rem;
        @include wide-pc{
            margin-right: 5px;
        }
    }
}
//-------------------------------
//  category
//-------------------------------
