@import 'common/_font&color';
@import 'common/_responsive';
@import 'common/destyle';
@import 'common/_animation';

//-------------------------------
//  All-page-common-css
//-------------------------------
html{
    /*
    計算式：10px /  デザインカンプの横幅 * 100
    画面サイズがデザインカンプ幅の時font-size = 10pxになる
    */
    font-size: calc(10 / 1400 * 100) + vw;
    // @include pc{
    //     font-size: calc(10 / 1200 * 100) + vw;
    // }
    @include tab{
        font-size: calc(10 / 768 * 100) + vw;
    }
    @include sp{
        font-size: calc(10 / 375 * 100) + vw;
    }
}
body{
    font-size: 1.6rem;
    font-family: $font;
    overflow-x: hidden;
    position: relative;
    line-height: 1;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.wrapper{
    overflow-x: hidden;
}
.container{
    width: 1648px;
    margin: 0 auto;
    @include pc-tab{
        width: 96.94%;
    }
    @include tab{
        width: 84vw;
    }
}
.margin-right-cancell{
    margin-right: 0!important;
}
.margin-left-cancell{
    margin-left: 0!important;
}
.margin-top-cancell{
    margin-top: 0!important;
}
.margin-bottom-cancell{
    margin-bottom: 0!important;
}

//-------------------------------
//  header
//-------------------------------
@import 'header/_header.scss';